/* secciones stars wars */

#main-categorias {
    width: 80%; 
    max-width: 1200px; 
    height: auto; 
    padding: 2rem; 
    margin: 0 auto; 
    box-sizing: border-box; 
    border-radius: 8px; 
  }
  
  .section {
    width: 100%; 
    max-width: 1200px; 
    padding: 2rem 0; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    height: 500px; 
  }
  
  .section-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  
  .section-titulo h2 {
    font-size: 2rem; 
    font-weight: bold; 
    margin: 0; 
  }
  
  .section-ver-todo {
    display: flex;
    align-items: center;
    gap: .2rem;
  }
  
  .product-container {
    display: block;
    margin: 2rem 0;
  }
  .image-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: hidden; /* Agregado */
    overflow-y: hidden ;
    scroll-snap-type: x mandatory;
  }

  .lista {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .lista li {
    list-style-type: none;
    margin: 0.5rem;
    padding: 1rem;
    height: 250px;
    display: inline-block;
    text-align: center;
    width: 200px;
    flex-shrink: 0;
    scroll-snap-align: start; /* Agregado */
  }
  
  .lista li {
    list-style-type: none;
    margin: 0.5rem;
    padding: 1rem;
    height: 250px;
    display: inline-block;
    text-align: center;
    width: 200px;
    flex-shrink: 0;
    scroll-snap-align: start;
  }
  .lista li img {
    width: 100%; 
    height: 200px; /* Ajusta la altura de la imagen para que se vea correctamente */
    max-width: 280px;
    max-height: 280px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto; 
    display: block; 
  }
  
 
  
  .producto {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  /* Estilos para pantallas pequeñas (móvil) */
/* Estilos para pantallas pequeñas (móvil) */
@media (max-width: 480px) {
    .prev, .next {
      display: none;
    }
    .lista {
      grid-template-columns: repeat(6, 1fr); /* 4 columnas en móviles */
      height: auto; /* Permitir que la altura se ajuste automáticamente */
    }
    .image-container {
      overflow-x: auto; /* Permitir deslizamiento horizontal */
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch; /* Hacer que la barra de desplazamiento sea invisible */
    }
    .lista li {
      height: 180px; /* Ajustar la altura para móviles */
      width: 160px; /* Ajustar el ancho de cada elemento li para móviles */
      flex-wrap: nowrap;
    }
    .lista li img {
      max-width: 140px; /* Ajustar el ancho máximo de la imagen para móviles */
      max-height: 140px; /* Ajustar el alto máximo de la imagen para móviles */
      height: 120px; /* Ajustar la altura de la imagen para móviles */
    }
  }



  
  /* Estilos para pantallas medianas y grandes (PC) */
  @media (min-width: 481px) {
    .lista li {
      width: 250px; /* Ajusta el ancho de cada elemento li para pantallas de PC */
      height: 300px; /* Ajusta la altura de cada elemento li para pantallas de PC */
    }
    .lista li img {
      height: 250px; /* Ajusta la altura de la imagen para que se vea correctamente en pantallas de PC */
    }



    
  }

  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8); /* Fondo semi -transparente */
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .nav-btn.prev {
    left: 0;
  }
  
  .nav-btn.next {
    right: 0;
  }