.product-wrapper {
    position: relative;
    overflow: hidden; /* Asegúrate de que los productos fuera del contenedor no se vean */
}

.product-container {
    display: flex;
    transition: transform 0.3s ease; /* Transición suave al mover */
}

.lista {
    display: flex; /* Alinea los elementos en fila */
    padding: 0;
    margin: 0;
    list-style: none; /* Elimina los puntos de la lista */
}

.lista li {
    flex: 0 0 auto; /* Asegúrate de que los elementos no se expandan */
    width: 100px; /* Ajusta este valor para el tamaño deseado */
    text-align: center; /* Centra el texto */
}

.lista img {
    width: 100%; /* Hace que la imagen se ajuste al contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.arrow {
    cursor: pointer;
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    font-size: 24px; /* Aumenta el tamaño de las flechas */
    position: absolute; /* Posiciona las flechas en relación al contenedor */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Compensa el desplazamiento */
    z-index: 10; /* Asegúrate de que las flechas estén por encima de otros elementos */
}

.arrow.left {
    left: 10px; /* Espacio desde la izquierda */
}

.arrow.right {
    right: 10px; /* Espacio desde la derecha */
}
